In [11]:
import pandas as pd

In [12]:
#создаем 2 датафрейма по 2 файлам
df_tutorial = pd.read_csv('hw_lesson02_tutorial_completed.csv')
df_sessions = pd.read_excel('hw_lesson02_sessions.xlsx')

In [13]:
#используем info и head для 2 датафреймов
df_tutorial.info()
df_sessions.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59857 entries, 0 to 59856
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       59857 non-null  object
 1   event_name    59857 non-null  object
 2   event_dt      59857 non-null  object
 3   duration_sec  59857 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.8+ MB

,user_id,region,device,channel,session_duration,session_start
0,d35ad20dd45d,SEA,iPhone,GameAds,2589.186227,2020-04-01 17:51:25
1,ac4a113c52c_,CIS,iPhone,GameAds,1467.539334,2020-04-01 09:39:33
2,d0337d117cc8,CIS,iPhone,GameAds,3777.737508,2020-04-01 01:19:56
3,2f8c_262-_85,North America,iPhone,GameAds,3755.966201,2020-04-01 11:21:54
4,4b1-114-4692,Europe,iPhone,GameAds,2898.802314,2020-04-01 18:29:57
5,3-978101_f0d,North America,iPhone,GameAds,2086.907960,2020-04-01 23:39:28
6,b845_77f5c61,North America,iPhone,SenseAds,5313.214652,2020-04-01 10:53:58
7,6519-_24604d,North America,iPhone,GameAds,2075.250965,2020-04-01 02:35:28
8,76a8df88-b31,SEA,iPhone,GameAds,1597.009074,2020-04-01 04:01:28
9,d475bca_0f4b,Europe,iPhone,SenseAds,2769.343087,2020-04-01 11:20:34

In [14]:
#все значения столбца "географический регион" и их количество
df_sessions['region'].value_counts()

region
CN               33116
North America    28260
CIS              26187
Europe           23413
South America    19962
Africa           15049
SEA              12356
Australia         9547
Name: count, dtype: int64

In [15]:
#минимальная дата 1 датафрейма
df_tutorial['event_dt'].min()

'2020-04-01 00:04:01'

In [16]:
#минимальная дата 2 датафрейма
df_sessions['session_start'].min()

Timestamp('2020-04-01 00:00:23')

In [17]:
#максимальная дата 1 датафрейма
df_tutorial['event_dt'].max()

'2020-06-30 23:54:40'

In [18]:
#максимальная дата 2 датафрейма
df_sessions['session_start'].max()

Timestamp('2020-06-30 23:59:45')

In [19]:
#выводы и наблюдения: команда info выводит основную информацию датафрейма, а head(10) - первые 10 строк датафрейма;
#категориальные переменные включают в себя различные значения в различных количествах;
#данные покрывают временной период апрель-июнь